body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("orig.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  height: 100vh; /* Ensure body takes up full height of viewport */
}

/* Adjust navbar styles */
.navbar {
  margin: 0px auto;
  background-color: white; /* Set navbar background color to white */
<<<<<<< OtherBranch
width: 95%;
=======
  width: 95%;
>>>>>>> main
}

.navbar-nav .nav-link {
  color: black; /* Set color of navbar links to black */
}
.center {
  text-align: center;
  margin-top: 100px; /* Adjust margin top as needed */
}

.ifixit-text {
  font-size: 9rem; /* Adjust font size as needed */
  font-weight: bold; /* Optionally make the text bold */
  color: white; /* Optionally change text color */
}
.sub-text {
  color: white;
  font-size: 25px;
}
.sub-text2 {
  color: white;
  font-weight: lighter;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

#repair-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}

/* Table styles */

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  border: 1px solid #ccc;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

#sidebar {
  color: white;
  height: 100%;
  margin: 20px;
  padding: 20px;
}
#sidebar a {
  color: white;
  text-decoration: none;
}
.dashboard-image {
  width: 100%; /* Adjust the width of the image */
  max-width: 600px; /* Set a maximum width for the image */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure proper block display */
  margin-top: 20px; /* Adjust the top margin */
  margin-bottom: 20px; /* Adjust the bottom margin */
  margin-left: auto; /* Align the image to the right */
  margin-right: auto; /* Align the image to the left */
}
.dashboard-stats {
  display: flex;
  justify-content: center;
}

.stat {
  margin-right: 20px;
}

.stat p {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.btn-group .btn {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
